h1 {
    text-align: center;
    background-color: blue;
    font-family: OCR A Std, monospace;
    color: greenyellow;
    font-size: 24pt;
}


.mainImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 40vh;
        border: 10px;
}

button {
    height: 34px;
    margin: 10px auto;
    display: block;
}


h2 {
    text-align: center;
    color: 000000;
    border: 3px solid green;
    padding: 10px
}





